<!--This is the base template that will be extended in all the other child templates--> 
<!DOCTYPE html>
<html lang="en">
  <head>
    {# Load the tag library #} 
    {% load bootstrap5 %} 
    {# Load CSS and JavaScript #}
    {% bootstrap_css %} {% bootstrap_javascript %}

    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TinyApp</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                    {% with request.resolver_match.url_name as url_name %}
                      <li class="nav-item">
                        <a class="nav-link {% if url_name == 'url-list' %}active{% endif %}" href="{% url 'url-list' %}">My URLs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {% if url_name == 'url-new' %}active{% endif %}" href="{% url 'url-new' %}">Create New URL</a>
                      </li>
                      {% if perms.tinyapp.view_user %}
                        <li class="nav-item">
                          <a class="nav-link {% if url_name == 'users-list' %}active{% endif %}" href="{% url 'users-list' %}">Users List</a>
                        </li>
                      {% endif %}
                    {% endwith %}
                  {% else %}
                    {% with request.resolver_match.url_name as url_name %}
                      <li class="nav-item">
                        <a class="nav-link {% if url_name == 'register-user' %}active{% endif %}" href="{% url 'register-user' %}">Create new account</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {% if url_name == 'user-login' %}active{% endif %}" href="{% url 'user-login' %}">Login</a>
                      </li>
                    {% endwith %}
                  {% endif %}
              </ul>
            </div>
            {% if user.is_authenticated %}
              <div class="navbar-brand">Welcome {{username}}!</div>
              <form method="get" action="/logout/">{% csrf_token %}
                <div><button class="btn btn-danger" type="submit">Log out</button></div>
              </form>
            {% endif %}
        </div>
      </nav>
    </header>

    <div class="container">
        {% block content %} 
        {% endblock %}
    </div>
  </body>
</html>
