<!--Template for user registration form--> 
{% extends "base.html" %}

{% block title %}Register{% endblock %} 

{% load crispy_forms_tags %}

{% block content %}
</br>
<div class="container">
  <div class="card w-50 mx-auto">
    <h1 class="card-header">Sign up for TinyApp</h1>
    <div class="card-body">
      <form method="post">
        {% csrf_token %} {{ form | crispy }}
        <button type="submit" class="btn btn-success">Sign Up</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
