<!--Template to display details of a long URL and its corresponding short URL--> 
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}URL Details{% endblock %}

{% block content %}

  <br/>
  {% if user.is_authenticated %}
    <div class="card">
      <div class="card-header">    
        <div class="row">
          <div class="col-sm-5"><h5>Total Visits: {{total_visits}}</h5></div>
          <div class="col-sm-5"><h4>Edit URL Details</h4></div>
          <div class="col-sm-2"><h5>Unique Visits: {{unique_visits}}</h5></div>
          </div>
      </div>  
      <div class="card-body">
        <div class="text-center">
          <h5 class="card-title">TinyURL for: {{ url.long_url }}</h5>
          <p class="card-text">Short URL: <a href="{% url 'redirect-short-url' url.short_url %}">{{ url.short_url }}</a></p>
        </div>
      </div>
      <div class="card-footer text-muted">
        <form method="post">
          {% csrf_token %} {{ form | crispy }} 
          <button type="submit" class="btn btn-success mt-2">Update</button>
        </form>
      </div>
    </div>
    <br/>
    <div class="text-center"><h2>Visitor data</h2></div>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col" class="text-center">Visitor ID</th>
                <th scope="col" class="text-center">Time Visited</th> 
            </tr>
          </thead>
          {% for v in visitors %}
          <tr>
            <td class="text-center">{{ v.visitor_id }}</td>
            <td class="text-center">{{ v.time_visited }}</td>
          </tr>
          {% endfor %}
        </table>
  {%else%}
    <h1>You are not signed in! Please <a href="{% url 'user-login' %}">Login</a> or <a href="{% url 'register-user' %}">Register</a></h1>
  {% endif %}
{% endblock %}